{% extends '::base.html.twig' %}

{% block title %}Modifier un compte{% endblock %}

{% block activeCompte %}class="activeLast"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Modifier le compte</h1>

    <div id="formulaire">
        {{ form(edit_form) }}
    </div>

    <button onclick="window.location = '{{ path('utilisateur') }}';" class="left">◄ Revenir</button>

{% endblock %}
