{% extends '::base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block activeCompte %}class="activeLast"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Liste des administrateurs</h1>

    <button onclick="window.location = '{{ path('utilisateur_new') }}';">Créer un compte ►</button>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.prenom }}</td>
                    <td>{{ entity.email }}</td>
                    <td id="center">
                        <div>
                            <a href="{{path('utilisateur_show', {'id' : entity.id})}}">
                                <img alt="show" src="{{asset('images/overview-64.png')}}"></img>
                            </a>
                            <a href="{{path('utilisateur_edit', {'id' : entity.id})}}">
                                <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                            </a>
                            <a href="{{path('utilisateur_delete', {'id' : entity.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer l\'utilisateur {{entity.nom}} {{entity.prenom}} ?');">
                                <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button onclick="window.location = '{{ path('utilisateur_new') }}';">Créer un compte ►</button>

{% endblock %}
