{% extends '::base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block activeCompte %}class="activeLast"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Compte utilisteur</h1>

    <p><b>Informations  personnelles : </b></p>
    <p>{{entity.nom}} {{entity.prenom}}</p>
    <p>{{entity.email}}</p>
    <br>
    <p><b>Login : </b>{{entity.username}}</p>
    <br>

    <button onclick="window.location = '{{ path('utilisateur') }}';" class="left">◄ Revenir</button>

    <button onclick="window.location = '{{ path('utilisateur_edit') }}';">Modifier ►</button>

    {{ form(delete_form) }}

{% endblock %}
