{% extends '::base.html.twig' %}

{% block title %}Modifier un sprint{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}class="active"{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('jquery/css/smoothness/jquery-ui-1.10.4.custom.min.css')}}">
    <script src="{{asset('jquery/js/jquery-1.10.2.js')}}"></script>
    <script src="{{asset('jquery/js/jquery-ui.js')}}"></script>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $("#api_suivibundle_sprint_dateDebut").datepicker({dateFormat: 'dd MM yy'});
            $("#api_suivibundle_sprint_dateFin").datepicker({dateFormat: 'dd MM yy'});
        });
    </script>
{% endblock %}

{% block body -%}
    <h1>Modifier un sprint</h1>

    <div id="formulaire">
        {{ form(edit_form) }}
    </div>

    {% if entity.enCours %}
        {% set bool = 1 %}
            {% else %}
                {% set bool = 0 %}
                    {% endif %}

                        <button onclick="window.location = '{{path('sprint',{'idRoadmap' : entity.roadmap.id, 'idProjet' : entity.projet.id, 'boolTermine' : bool})}}';" class="left">◄ Revenir</button>

                        {% endblock %}
