{% extends '::base.html.twig' %}

{% block title %}Sprints{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}class="active"{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function change() {
            var selectBoxRoadmap = document.getElementById("selectBoxRoadmap");
            var selectBoxProjet = document.getElementById("selectBoxProjet");
            var selectBoxTermine = document.getElementById("selectBoxTermine");
            var selectedRoadmap = selectBoxRoadmap.options[selectBoxRoadmap.selectedIndex].value;
            var selectedProjet = selectBoxProjet.options[selectBoxProjet.selectedIndex].value;
            var selectedTermine = selectBoxTermine.options[selectBoxTermine.selectedIndex].value;
            var route = "{{ path('sprint', { 'idRoadmap': "ROADMAP", 'idProjet' : "PROJET", 'boolTermine' : "BOOL" }) }}";
            var regPlaceHolderRoadmap = new RegExp('ROADMAP', 'gi');
            var regPlaceHolderProjet = new RegExp('PROJET', 'gi');
            var regPlaceHolderTermine = new RegExp('BOOL', 'gi');
            window.location = route
                    .replace(regPlaceHolderRoadmap, selectedRoadmap)
                    .replace(regPlaceHolderProjet, selectedProjet)
                    .replace(regPlaceHolderTermine, selectedTermine);
        }

    </script>
{% endblock %}

{% block body -%}
    <h1>Liste des sprints enregistrés</h1>

    <div> 
        <form class="selectBox3"><b>Roadmap</b>
            <select id="selectBoxRoadmap" onchange="change();">
                {% for roadmap in roadmaps %}
                    {% if roadmap.id == roadmapSelected.id %}
                        <option selected value="{{roadmap.id}}">{{roadmap.nom}} ({{roadmap.dateDebut}} - {{roadmap.dateFin}})</option>
                    {% else%}
                        <option value="{{roadmap.id}}">{{roadmap.nom}} ({{roadmap.dateDebut}} - {{roadmap.dateFin}})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <div> 
        <form class="selectBox3"><b>Projet</b>
            <select id="selectBoxProjet" onchange="change();">
                {% if projetSelected == null %}
                    <option selected value="0">Tous les projets</option>
                {% else %}
                    <option value="0">Tous les projets</option>
                {% endif %}   
                {% for projet in projets %}
                    {% if projet == projetSelected %}
                        <option selected value="{{projet.id}}">{{projet.nom}}</option>
                    {% else %}
                        <option value="{{projet.id}}">{{projet.nom}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <div> 
        <form class="selectBox3"><b>Etat</b>
            <select id="selectBoxTermine" onchange="change();">
                {% if boolTermine == 0 %}
                    <option selected value="0">Terminé</option>
                {% else %}
                    <option value="0">Terminé</option>
                {% endif %}
                {% if boolTermine == 1 %}
                    <option selected value="1">En cours</option>
                {% else %}
                    <option value="1">En cours</option>
                {% endif %}
                {% if boolTermine == 2 %}
                    <option selected value="2">Tous</option>
                {% else %}
                    <option value="2">Tous</option>
                {% endif %}  
            </select>
        </form>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location = '{{ path('sprint_new') }}';">Ajouter un sprint ►</button>
    {% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Projet</th>
                <th>Version</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sprint in sprints %}
                <tr>
                    <td>{{ sprint.projet.nom }}</td>
                    <td>{{ sprint.version }}</td>
                    <td>{{ sprint.dateDebut }}</td>
                    <td>{{ sprint.dateFin }}</td>
                    <td>
                        {% if sprint.enCours %}
                            En-cours
                        {% else %}
                            Terminé
                        {% endif %}
                    </td>
                    <td id="center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="long4">
                                <a href="{{path('sprint_show', {'id' : sprint.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                                <a href="{{path('sprint_edit', {'id' : sprint.id})}}">
                                    <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                                </a>
                                <a href="{{path('sprint_delete', {'id' : sprint.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer le sprint concernant la version {{sprint.version}} du projet {{sprint.projet.nom}} ?');">
                                    <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                                </a>
                            </div>
                        {% else %}
                            <div id="long2">    
                                <a href="{{path('sprint_show', {'id' : sprint.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                            </div>     
                        {% endif %}    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location = '{{ path('sprint_new') }}';">Ajouter un sprint ►</button>
    {% endif %}

{% endblock %}
