{% extends '::base.html.twig' %}

{% block title %}Sprint{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}class="active"{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            
            Highcharts.setOptions({
                    global: {
                            useUTC: false
                    }
            });

            $('#containerGraph').highcharts('StockChart', {
                rangeSelector: {
                    selected: 1,
                    inputEnabled: $('#container').width() > 480
                },
                title: {
                    text: 'Burndown Chart'
                },
                xAxis: {
                    ordinal: true
                },
                yAxis: {
                    title: {
                        text: 'Nombre d\'heures'
                    },
                    min: 0
                },
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                        name: 'Tps Idéal',
                        color: '#060269',
                        data: [                                
            {% set bool = true %}
            {% for x, y in droite %}
                {% if bool %}
                    {% set bool = false %}
                    [{{x* 1000}},{{y}} ]
                {% else %}
                    , [{{x* 1000}},{{y}} ]
                {% endif %}
            {% endfor %}
                ]
            },
            {
                name: 'Temps Restant',
                color: 'red',
                data: [
                {% set bool1 = true %}    
                {% for tps in sauvegardeSprints %}
                    {% if bool1 %}
                        {% set bool1 = false %}
                        [{{tps.date*1000}}, {{tps.tpsRestant}}]
                    {% else %}
                        , [{{tps.date*1000}}, {{tps.tpsRestant}}]
                    {% endif %}
                {% endfor %}
                ],
                marker: {
                    enabled: true,
                    radius: 3
                },
                shadow: true
            }
        ]
        });
        });

</script>
{% endblock %}

{% block body -%}
    <div class="onglets2">
        <button onclick="window.location = '{{ path('sprint_show', { 'id': entity.id }) }}';">Histogramme</button>
        <button id="gris" onclick="window.location = '{{ path('sprint_tache', { 'id': entity.id, 'dateC' : 0, 'tri' : "no" }) }}';">◄ Liste des taches</button>
    </div>    
    
    <h1>Sprint correspondant à la {{entity.version}} du projet {{entity.projet.nom}}</h1>

    <b>Date : </b>
    <p>{{entity.dateDebut | date('d/m/Y')}} - {{entity.dateFin | date('d/m/Y')}}</p>
    <b>Roadmap : </b>
    <p>{{ entity.roadmap.nom }} ({{ entity.roadmap.dateDebut }} - {{ entity.roadmap.dateFin }})</p>

    {% if entity.enCours %}
        {% set bool = 1 %}
    {% else %}
        {% set bool = 0 %}
    {% endif %}

    <script src="{{asset('js/highstock.js')}}"></script>
    <script src="{{asset('js/modules/exporting.js')}}"></script>

    <div id="containerGraph" style="height: 500px; min-width: 500px"></div>

    <button onclick="window.location = '{{path('sprint',{'idRoadmap' : entity.roadmap.id, 'idProjet' : entity.projet.id, 'boolTermine' : bool})}}';" class="left">◄ Revenir</button>
{% endblock %}
