{% extends '::base.html.twig' %}

{% block title %}Taches d'une release{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function changeFunc() {
            var selectBox = document.getElementById("selectBox");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            var route = "{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : "DATE", 'tri' : tri }) }}";
            var regPlaceHolder = new RegExp('DATE', 'gi');
            window.location = route.replace(regPlaceHolder, selectedValue);
        }

    </script>
{% endblock %}

{% block body -%}
    <div class="onglets2">
        <button id="gris" onclick="window.location = '{{ path('sprint_show', { 'id': sprint.id }) }}';">Histogramme ►</button>
        <button onclick="window.location = '{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : date, 'tri' : tri }) }}';">Liste des taches </button>
    </div>    
    <br clear="all">
    <h1>{% block titre %}Liste des taches du sprint correspondant à la {{sprint.version}} du projet {{sprint.projet.nom}} au {{date | date('d/m/Y')}}{% endblock %}</h1>

    <div class="align-left"> 
        <form><b>Choisir une autre date :</b>
            <select id="selectBox" onchange="changeFunc();">
                {% for tps in sauvegardeSprint %}
                    {% if date == tps.date %}
                        <option selected value="{{tps.date}}">{{tps.date | date('d/m/Y')}}</option>
                    {% else %}
                        <option value="{{tps.date}}">{{tps.date | date('d/m/Y')}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <br clear="all">

    <table border=1 class="records_list">
        <thead>
            <tr>
                <th><a id="noColor"  href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : "DATE", 'tri' : "clef" }) }}">Clef &#x25be;</a></th>
                <th>Description</th>
                <th>Tps original</th>
                <th>Tps passe</th>
                <th>Tps restant</th>
                <th><a id="noColor" href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : date, 'tri' : "vaff" }) }}">V. affectee &#x25be;</a></th>
                <th><a id="noColor" href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : date, 'tri' : "etat" }) }}">Etat &#x25be;</a></th>
                <th>Alt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tacheSauvegardee in sauvegardeTache %}
                <tr bgcolor="{{ tacheSauvegardee.color | raw }}">
                    <td>{{ tacheSauvegardee.tache.clef | raw }}</td>
                    <td>{{ tacheSauvegardee.tache.description | raw }}</td>
                    <td>{{ tacheSauvegardee.tpsOriginal | raw }}</td>
                    <td>{{ tacheSauvegardee.tpsPasse | raw }}</td>
                    <td>{{ tacheSauvegardee.tpsRestant | raw }}</td>
                    <td>{{ tacheSauvegardee.vAffectee | raw }}</td>
                    <td>{{ tacheSauvegardee.etat | raw }}</td>
                    <td id="center"><img id="alerteImg" alt="alert" src="{{asset(tacheSauvegardee.alerte)}}"></td>
                    <td id ="center">
                        <div class="small">
                            <a href="{{path('tache_show_sprint', {'id' : tacheSauvegardee.id})}}">
                                <img alt="show" src="{{asset('images/chart-64.png')}}"></img>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if sprint.enCours %}
        {% set bool = 1 %}
    {% else %}
        {% set bool = 0 %}
    {% endif %}

    <button onclick="window.location = '{{path('sprint',{'idRoadmap' : sprint.roadmap.id, 'idProjet' : sprint.projet.id, 'boolTermine' : bool})}}';" class="left">◄ Revenir</button>
{% endblock %}