{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% for releaseProjet in releases %}
        {% set sauvegardeRelease = listSauvegardeRelease[releaseProjet.id] %}
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                {% if sauvegardeRelease != null %}
                    {% set tempsEstime = sauvegardeRelease.tpsPasse+sauvegardeRelease.tpsRestant %}
                    var data = google.visualization.arrayToDataTable([
                        ['','Original : \n{{sauvegardeRelease.tpsOriginal | round(1, 'floor')}}', 'Passé : \n{{sauvegardeRelease.tpsPasse | round(1, 'floor')}}', 'Estimé : \n{{tempsEstime | round(1, 'floor')}}', 'Restant : \n{{sauvegardeRelease.tpsRestant | round(1, 'floor')}}'],
                        ['', {{sauvegardeRelease.tpsOriginal}},  {{sauvegardeRelease.tpsPasse}}, {{tempsEstime}}, {{sauvegardeRelease.tpsRestant}}]
                    ]);
                {% else %}
                    var data = google.visualization.arrayToDataTable([
                        ['','Original', 'Passé', 'Estimé','Restant'],
                        ['', 0,  0, 0, 0]
                    ]);
                {% endif %}

                var options = {
                chartArea: {left:0},
                hAxis: { minValue:0 }
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_div_{{releaseProjet.nom | raw}}'));
                chart.draw(data, options);
            }
        </script>
    {% endfor %}
{% endblock %}

{% block body -%}
<section class="services clear">
    {% for releaseProjet in releases %}
        <article>
            <figure><img src="{{asset('images/tete.png')}}" width="32" height="32" alt=""></figure>
            <strong>release {{releaseProjet.nom}}</strong>
            <p>{{releaseProjet.description}}</p>
            <div id="chart_div_{{releaseProjet.nom | raw}}" style="width: 450px; height: 200px;"></div>  
            <p class="more" >
                <button id="historique_{{releaseProjet.nom | raw}}" onclick="window.location='{{ path('release_graph', { 'id': releaseProjet.id }) }}';">Voir l'historique ►</button>  
            </p>
        </article>
    {% endfor %}
    </section>
    <br clear="all">
{% endblock %}
    