{% extends '::base.html.twig' %}

{% block title %}Modifier une release{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Modifier une release</h1>

    <div id="formulaire">
        {{ form(edit_form) }}
    </div>

    <button onclick="window.location = '{{path('release',{'idRoadmap' : release.roadmap.id, 'idProjet' : release.projet.id})}}';" class="left">◄ Revenir</button>

{% endblock %}
