{% extends '::base.html.twig' %}

{% block title %}Historique de la release{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            
            Highcharts.setOptions({
                    global: {
                            useUTC: false
                    }
            });

    // Create the chart
            $('#containerGraph').highcharts('StockChart', {
                rangeSelector: {
                    selected: 1
                },
                xAxis: {
                    ordinal: true
                },
                yAxis: {
                    title: {
                        text: 'Temps (jours)'
                    },
                    min: 0,
                    plotLines: [{
                            value :{{tempsOriginal}},
                                    color: 'green',
                            dashStyle: 'shortdash',
                            width: 2,
                            label: {
                                text: 'Tps Original'
                            }
                        }]
                },
                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
        {% set bool1 = true %}
            {% set bool2 = true %}
                {% set bool3 = true %}
                series: [{
                        name: 'Tps Passé',
                        data: [
                        {% for tps in sauvegardeRelease %}
                            {% if bool1 %}
                                {% set bool1 = false %}
                                [{{tps.date*1000}}, {{tps.tpsPasse}}]
                            {% else %}
                                , [{{tps.date*1000}}, {{tps.tpsPasse}}]
                            {% endif %}
                        {% endfor %}
                        ],
                        marker: {
                            enabled: true,
                            radius: 3
                        },
                        shadow: true,
                        tooltip: {
                            valueDecimals: 2
                        }
                    },
                    {
                        name: 'Temps Estimée',
                        color: 'red',
                        data: [
                            {% for tps in sauvegardeRelease %}
                                {% set tpsEstime = tps.tpsPasse + tps.tpsRestant %}
                                    {% if bool2 %}
                                        {% set bool2 = false %}
                                        [{{tps.date*1000}}, {{tpsEstime}}]
                                    {% else %}
                                        , [{{tps.date*1000}}, {{tpsEstime}}]
                                    {% endif %}
                            {% endfor %}
                        ],
                        marker: {
                            enabled: true,
                            radius: 3
                        },
                        shadow: true,
                        tooltip: {
                            valueDecimals: 2
                        }
                    },
                    {
                        name: 'Temps Restant',
                        color: 'yellow',
                        data: [
                            {% for tps in sauvegardeRelease %}
                                {% if bool3 %}
                                    {% set bool3 = false %}
                                    [{{tps.date*1000}}, {{tps.tpsRestant}}]
                                {% else %}
                                    , [{{tps.date*1000}}, {{tps.tpsRestant}}]
                                {% endif %}
                            {% endfor %}
                        ],
                        marker: {
                            enabled: true,
                            radius: 3
                        },
                        shadow: true,
                        tooltip: {
                            valueDecimals: 2
                        }
                    }
                ]
            });
        });

    </script>
{% endblock %}

{% block body -%}

    <div class="onglets">
        <button id="gris" onclick="window.location = '{{ path('release_tache', { 'id': releaseProjet.id, 'dateC' : 0, 'tri' : "no" }) }}';"> Liste des taches ►</button>
        <button onclick="window.location = '{{ path('release_graph', { 'id': releaseProjet.id }) }}';">Historique</button>
        <button id="gris" onclick="window.location = '{{ path('release_show', { 'id': releaseProjet.id }) }}';">◄ Histogramme</button>
    </div>

    <br clear="all">

    <h1>Historique du release {{releaseProjet.nom}}</h1>

    <script src="{{asset('js/highstock.js')}}"></script>
    <script src="{{asset('js/modules/exporting.js')}}"></script>

    <div id="containerGraph" style="height: 500px; min-width: 500px"></div>

    <button onclick="window.location = '{{path('release',{'idRoadmap' : releaseProjet.roadmap.id, 'idProjet' : releaseProjet.projet.id})}}';" class="left">◄ Revenir</button>

{% endblock %}
