{% extends '::base.html.twig' %}

{% block title %}Releases{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function change() {
            var selectBoxRoadmap = document.getElementById("selectBoxRoadmap");
            var selectBoxProjet = document.getElementById("selectBoxProjet");
            var selectedRoadmap = selectBoxRoadmap.options[selectBoxRoadmap.selectedIndex].value;
            var selectedProjet = selectBoxProjet.options[selectBoxProjet.selectedIndex].value;
            var route = "{{ path('release', { 'idRoadmap': "ROADMAP", 'idProjet' : "PROJET" }) }}";
            var regPlaceHolderRoadmap = new RegExp('ROADMAP', 'gi');
            var regPlaceHolderProjet = new RegExp('PROJET', 'gi');
            window.location = route.replace(regPlaceHolderRoadmap, selectedRoadmap).replace(regPlaceHolderProjet, selectedProjet);
        }

    </script>
{% endblock %}

{% block body -%}
    <h1>Liste des release enregistrées</h1>

    <div> 
        <form class="selectBox"><b>Roadmap</b>
            <select id="selectBoxRoadmap" onchange="change();">
                {% for roadmap in roadmaps %}
                    {% if roadmap.id == roadmapSelected.id %}
                        <option selected value="{{roadmap.id}}">{{roadmap.nom}} ({{roadmap.dateDebut}} - {{roadmap.dateFin}})</option>
                    {% else%}
                        <option value="{{roadmap.id}}">{{roadmap.nom}} ({{roadmap.dateDebut}} - {{roadmap.dateFin}})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>
    <div> 
        <form class="selectBox"><b>Projet</b>
            <select id="selectBoxProjet" onchange="change();">
                {% if projetSelected == null %}
                    <option selected value="0">Tous les projets</option>
                {% else %}
                    <option value="0">Tous les projets</option>
                {% endif %}   
                {% for projet in projets %}
                    {% if projet == projetSelected %}
                        <option selected value="{{projet.id}}">{{projet.nom}}</option>
                    {% else %}
                        <option value="{{projet.id}}">{{projet.nom}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location = '{{ path('release_new') }}';">Ajouter une release ►</button>
    {% endif %}        


    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Projet</th>
                <th>Requete</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for release in releases %}
                <tr>
                    <td>{{ release.nom }}</td>
                    <td>{{ release.description }}</td>
                    <td>{{ release.projet.nom }}</td>
                    <td>{{ release.requete }}</td>
                    <td id="center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="long5">
                                <a href="{{path('release_graph', {'id' : release.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_show', { 'id': release.id }) }}">
                                    <img alt="histogramme" src="{{asset('images/bar-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_tache', { 'id': release.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                                <a href="{{path('release_edit', {'id' : release.id})}}">
                                    <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                                </a>
                                <a href="{{path('release_delete', {'id' : release.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer la release {{release.nom}} ?');">
                                    <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                                </a>
                            </div>
                        {% else %}
                            <div id="long3">    
                                <a href="{{path('release_graph', {'id' : release.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_show', { 'id': release.id }) }}">
                                    <img alt="histogramme" src="{{asset('images/bar-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_tache', { 'id': release.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                            </div>     
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location = '{{ path('release_new') }}';">Ajouter une release ►</button>
    {% endif %}    
{% endblock %}
