{% extends '::base.html.twig' %}

{% block title %}Ajouter une release{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Ajouter une release</h1>

    <div id="formulaire">
        {{ form(form) }}
    </div>

    <button onclick="window.location = '{{path('release',{'idRoadmap' : 0, 'idProjet' : 0})}}';" class="left">◄ Revenir</button>
{% endblock %}
