{% extends '::base.html.twig' %}

{% block title %}Release{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {

        {% set tempsEstime = sauvegardeRelease.tpsPasse+sauvegardeRelease.tpsRestant %}
            {% if sauvegardeRelease != null %}
                var data = google.visualization.arrayToDataTable([
                        ['', 'Original : \n{{sauvegardeRelease.tpsOriginal | round(1, 'floor')}}', 'Passé : \n{{sauvegardeRelease.tpsPasse | round(1, 'floor')}}', 'Estimé : \n{{tempsEstime | round(1, 'floor')}}', 'Restant : \n{{sauvegardeRelease.tpsRestant | round(1, 'floor')}}'],
                        ['', {{sauvegardeRelease.tpsOriginal}}, {{sauvegardeRelease.tpsPasse}}, {{tempsEstime}}, {{sauvegardeRelease.tpsRestant}}]
                ]);
            {% else %}
                var data = google.visualization.arrayToDataTable([
                    ['', 'Original', 'Passé', 'Estimé', 'Restant'],
                    ['', 0, 0, 0, 0]
                ]);
            {% endif %}

                var options = {
                    chartArea: {left: 0},
                    hAxis: {minValue: 0}
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>

        {% endblock %}


            {% block body -%}

                <div class="onglets">
                    <button id="gris" onclick="window.location = '{{ path('release_graph', { 'id': release.id }) }}';">Historique ►</button>
                    <button onclick="window.location = '{{ path('release_show', { 'id': release.id }) }}';">Histogramme</button>
                    <button id="gris" onclick="window.location = '{{ path('release_tache', { 'id': release.id, 'dateC' : 0, 'tri' : "no" }) }}';">◄ Liste des taches </button>
                </div>    

                <h1>Release {{ release.nom }}</h1>

                <p><b>Description :</b></p>
                <p>{{ release.description }}</p>

                <p><b>Requete :</b></p>
                <p>{{ release.requete }}</p>

                <p><b>Histogramme :</b></p>
                <div id="centerDiv">
                    <div id="chart_div" style="width: 800px; height: 400px; margin-left: auto; margin-right: auto"></div>
                </div>

                <button onclick="window.location = '{{path('release',{'idRoadmap' : release.roadmap.id, 'idProjet' : release.projet.id})}}';" class="left">◄ Revenir</button>

            </ul>
        {% endblock %}
