{% extends '::base.html.twig' %}

{% block title %}Modifier un projet{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}class="active"{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Modifier un projet</h1>

    <div id="formulaire">
        {{ form(edit_form) }}
    </div>

    <button onclick="window.location='{{ path('projet') }}';" name="revenir" class="left">◄ Revenir</button>
{% endblock %}
