{% extends '::base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}class="active"{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    
    {% if error is defined %}
        <script>
            window.alert('Impossible de supprimer la roadmap car\nil existe au moins un sprint ou une release\nrattaché(e) à cette roadmap');
        </script>
    {% endif %}

    <h1>Liste des projets</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location='{{ path('projet_new') }}';" id="api_suivibundle_add_projet">Ajouter un projet ►</button>
    {% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Projet</th>
                <th>Description</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.code }}</td>
                    <td id="center">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div id="long3">
                            <a href="{{path('projet_show', {'id' : entity.id})}}">
                                <img alt="show" src="{{asset('images/overview-64.png')}}"></img>
                            </a>
                            <a href="{{path('projet_edit', {'id' : entity.id})}}">
                                <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                            </a>
                            <a id="api_suivibundle_delete_projet_{{entity.code}}" href="{{path('projet_delete', {'id' : entity.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer le projet {{entity.nom}} ?');">
                                <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                            </a>
                        </div>
                    {% else %}
                        <div id="long1">    
                            <a href="{{path('projet_show', {'id' : entity.id})}}">
                                <img alt="show" src="{{asset('images/overview-64.png')}}"></img>
                            </a>
                        </div>     
                    {% endif %}    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location='{{ path('projet_new') }}';" name="ajouter un projet">Ajouter un projet ►</button> 
    {% endif %}
    
{% endblock %}
