{% extends '::base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}class="active"{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Ajouter un projet</h1>

    <div id="formulaire">
        {{ form(form) }}
    </div>
    
    <button onclick="window.location='{{ path('projet') }}';" class="left" name="revenir">◄ Revenir</button>
{% endblock %}
