{% extends '::base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}class="active"{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Projet {{ projet.nom }} ({{ projet.code }})</h1>
    <p>{{ projet.description }}</p>

    <h3>Liste des releases du projet</h3>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Requete</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for release in releases %}
                <tr>
                    <td>{{ release.nom }}</td>
                    <td>{{ release.description }}</td>
                    <td>{{ release.requete }}</td>
                    <td id="center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="long5">
                                <a href="{{path('release_graph', {'id' : release.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_show', { 'id': release.id }) }}">
                                    <img alt="histogramme" src="{{asset('images/bar-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_tache', { 'id': release.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                                <a href="{{path('release_edit', {'id' : release.id})}}">
                                    <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                                </a>
                                <a href="{{path('release_delete', {'id' : release.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer la release {{release.nom}} ?');">
                                    <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                                </a>
                            </div>
                        {% else %}
                            <div id="long3">    
                                <a href="{{path('release_graph', {'id' : release.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_show', { 'id': release.id }) }}">
                                    <img alt="histogramme" src="{{asset('images/bar-64.png')}}"></img>
                                </a>
                                <a href="{{ path('release_tache', { 'id': release.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                            </div>     
                        {% endif %}   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Liste des sprints du projet</h3>
    <table class="records_list">
        <thead>
            <tr>
                <th>Version</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sprint in sprints %}
                <tr>
                    <td>{{ sprint.version }}</td>
                    <td>{{ sprint.dateDebut }}</td>
                    <td>{{ sprint.dateFin }}</td>
                    <td>
                        {% if sprint.enCours %}
                            En-cours
                        {% else %}
                            Terminé
                        {% endif %}
                    </td>
                    <td id="center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="long4">
                                <a href="{{path('sprint_show', {'id' : sprint.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                                <a href="{{path('sprint_edit', {'id' : sprint.id})}}">
                                    <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                                </a>
                                <a href="{{path('sprint_delete', {'id' : sprint.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer le sprint concernant la version {{sprint.version}} du projet {{sprint.projet.nom}} ?');">
                                    <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                                </a>
                            </div>
                        {% else %}
                            <div id="long2">    
                                <a href="{{path('sprint_show', {'id' : sprint.id})}}">
                                    <img alt="historique" src="{{asset('images/chart-64.png')}}"></img>
                                </a>
                                <a href="{{ path('sprint_tache', { 'id': sprint.id, 'dateC' : 0, 'tri' : "no" }) }}">
                                    <img alt="taches" src="{{asset('images/day-64.png')}}"></img>
                                </a>
                            </div>     
                        {% endif %}   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button onclick="window.location='{{ path('projet') }}';" class="left" name="revenir">◄ Revenir</button>

{% endblock %}
