<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Roadmaps Tool - {% block title %}{% endblock %}</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="{{asset('styles/layout.css')}}" type="text/css">
    <!--[if lt IE 9]><script src="{{asset('scripts/html5shiv.js')}}"></script><![endif]-->
    {% block stylesheets %}{% endblock %}
    <!-- homepage scripts -->
    {% block javascripts %}{% endblock %}
    <!-- / homepage scripts -->
</head>

<body id="top">
<div class="wrapper row0"></div>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="{{path('accueil')}}">Roadmaps</a></h1>
      <h2>Suivez l'avancé de vos projet</h2>
    </hgroup>
    <nav>
      <ul>
        {% if is_granted('ROLE_ADMIN') %}
        <li {% block activeCompte %}class="last"{% endblock %}>
            <b><a href="{{path('utilisateur')}}">Compte</a></b>
        </li>
        <li {% block activeSauvegarde %}{% endblock %}>
            <b><a href="{{path('log')}}">Mise à jour</a></b>
        </li>
        {% else %}
        <li {% block activeSauvegardeLast %}class="last"{% endblock %}>
            <b><a href="{{path('log')}}">Mise à jour</a></b>
        </li>
        {% endif %}
        <li {% block activeSprint %}{% endblock %}>
            <b><a href="{{path('sprint',{'idRoadmap' : 0, 'idProjet' : 0, 'boolTermine' : 1})}}">Sprint</a></b>
        </li>
        <li {% block activeRelease %}{% endblock %}>
            <b><a href="{{path('release',{'idRoadmap' : 0, 'idProjet' : 0})}}">Release</a></b>
        </li>
        <li {% block activeProjet %}{% endblock %}>
            <b><a title="projet" href="{{path('projet')}}">Projet</a></b>
        </li>
        <li {% block activeRoadmap %}{% endblock %}>
            <b><a href="{{path('roadmap')}}">Roadmap</a></b> 
        </li>
        <li {% block activeAccueil %}class="active"{% endblock %}>
            <b><a href="{{path('accueil')}}">Accueil</a></b>
        </li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    {% block body %}
    {% endblock %}
    <div class="clear"></div>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <section class="one_quarter">
    {% if error.message is defined %}
        <script>
            window.alert('Erreur identifiant/mot de passe');
        </script>
    {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <button name="logout" onclick="window.location='{{ path('logout') }}';">Se déconnecter</button>
      {% else %}
      <h2 class="title">Connectez-vous</h2>
      <form method="post" action="{{ path('login_check') }}" name="connexion">
        <fieldset>
          <legend>Connectez-vous:</legend>
          <label for="nl_identifiant">Identifiant:</label>
          <input type="text" name="_username" id="connexion_identifiant" value="{% if last_username is defined %}{{ last_username }}{% endif %}">
          <label for="nl_mdp">Mot de Passe:</label>
          <input type="password" name="_password" id="connexion_mdp" value="">
          <button type="submit" name="login" value="">Se connecter</button>
        </fieldset>
      </form>
      {% endif %}
    </section>
  </footer>
    
    <!--<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - Pharmagest</p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>-->
  </footer>
</div>
</body>
</html>

        
 
        
 
        
