/*
 * @freebie: various-alert-boxes
 * @author: Francisco Neves
 */

.alert-box
{
	padding: 15px 20px 15px 70px;
	border: 1px solid #000;
	color: #4d4d4d;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: inset 0 6px 14px -6px #fff;
	-webkit-box-shadow: inset 0 6px 14px -6px #fff;
	box-shadow: inset 0 6px 14px -6px #fff;

	text-shadow: 0px 1px -1px rgba(255, 255, 255, 0.5);
}

.alert-box > .container
{
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.alert-box > .container .text
{
	border-left: 1px solid rgba(255, 255, 255, 0.7);
	padding-left: 15px;
}

.alert-box > .container .text h1
{
	font-size: 14px;
}

.alert-box > .container .text h2
{
	font-size: 12px;
	font-weight: normal;
}

.alert-box > .close
{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 26px;
	height: 26px;
	background: center no-repeat;
	opacity: 0.8;
}

.alert-box > .close:hover
{
	opacity: 1;
}


.alert-box.success
{
	border-color: #aabb6a;
	background: url #f1facf;
	background: url(../images/success.png) no-repeat 20px, -moz-linear-gradient(top, #f1facf 0%, #c6dc77 100%);
	background: url(../images/success.png) no-repeat 20px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1facf), color-stop(100%,#c6dc77));
	background: url(../images/success.png) no-repeat 20px, -webkit-linear-gradient(top, #f1facf 0%,#c6dc77 100%);
	background: url(../images/success.png) no-repeat 20px, -o-linear-gradient(top, #f1facf 0%,#c6dc77 100%);
	background: url(../images/success.png) no-repeat 20px, -ms-linear-gradient(top, #f1facf 0%,#c6dc77 100%);
	background: url(../images/success.png) no-repeat 20px, linear-gradient(to bottom, #f1facf 0%,#c6dc77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1facf', endColorstr='#c6dc77',GradientType=0 );
}

.alert-box.success > .close
{
	background-image: url(../images/success_close.png);
}