/*
HTML 5 Template Name: Elementary
File: Forms CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

form, fieldset, legend{margin:0; padding:0; border:none;}

legend{display:none;}

input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

/* ----------------------------------------------Forms in Comment Area-------------------------------------*/

#formulaire form{display:block; width:100%;}
#formulaire form input, select{width:100%; padding:2px; border:1px solid #CCCCCC; margin:10px 0px 10px 0px;}
#formulaire form textarea{width:100%; height: 75px; border:1px solid #CCCCCC; margin:10px 0px 10px 0px; overflow:auto;}
#formulaire form select{width:100%;}
#formulaire form label{font-weight:bold;}

/* ----------------------------------------------Search Form-------------------------------------*/

#topbar form{float:right; margin:0; padding:0;}
#topbar form input{display:block; float:left; width:190px; height:20px; margin:0; padding:5px 5px 5px 10px; color:#C7CED6; background:url("../images/search_l.gif") 0 0 no-repeat #2C2C2C; border:none;}
#topbar form input#search{width:35px; height:30px; margin:0; padding:0; cursor:pointer; background:none;}

/* ----------------------------------------------Forms in Comment Area-------------------------------------*/

#comments form{display:block; width:100%;}
#comments form input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#comments form textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
#comments form p{margin:5px 0;}
#comments form #submit, #comments form #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; cursor:pointer;}

/* ----------------------------------------------Personnalization-------------------------------------*/

.row2 button{font-weight:bold; text-transform:uppercase; border:none; cursor:pointer;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;float:right;margin-top: 5px;margin-bottom: 5px;margin-left: 5px;height: 25px;width: 200px;white-space: nowrap;position:relative;outline: none;overflow: visible; /* removes extra side padding in IE */cursor: pointer;border: 1px solid #999;/* IE */border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */border-bottom:rgba(0, 0, 0, .4) 1px solid;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);background: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,rgba(0, 0, 0, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */-moz-user-select: none;-webkit-user-select:none;-khtml-user-select: none;user-select: none;margin-bottom:10px;position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
#big{height: 50px;}
.row2 button.left{float:left;margin-left:0px; margin-right: 5px;margin-bottom:10px;}

.row2 button:hover {background: -moz-linear-gradient(center top,rgba(255, 255, 255, .2) 0%,rgba(255, 255, 255, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(255, 255, 255, .1)),to(rgba(255, 255, 255, .2)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
.row2 button:active {top:1px;}

.selectBox {width: 50%;float: left;}
.selectBox select {width : 100%;float : right;}
.selectBox3 {width: 33.33%;float: left;}
.selectBox3 select {width : 100%;float : right;}

.onglets{text-align: center;width: 100%;height: 40px;}
.onglets button{font-weight:bold; text-transform:uppercase; border:none; cursor:pointer;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;float:right;height: 25px;width: 33.33%;white-space: nowrap;position:relative;outline: none;overflow: visible; /* removes extra side padding in IE */cursor: pointer;border: 1px solid #999;/* IE */border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */border-bottom:rgba(0, 0, 0, .4) 1px solid;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);background: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,rgba(0, 0, 0, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */-moz-user-select: none;-webkit-user-select:none;-khtml-user-select: none;user-select: none;margin: 0px;position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
.onglets button.left{float:left;margin-left:0px; margin-right: 5px;}
.onglets button:hover {background: -moz-linear-gradient(center top,rgba(255, 255, 255, .2) 0%,rgba(255, 255, 255, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(255, 255, 255, .1)),to(rgba(255, 255, 255, .2)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
.onglets button:active {top:1px;}

.onglets2{text-align: center;width: 100%;height: 40px;}
.onglets2 button{font-weight:bold; text-transform:uppercase; border:none; cursor:pointer;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;float:right;height: 25px;width: 50%;white-space: nowrap;position:relative;outline: none;overflow: visible; /* removes extra side padding in IE */cursor: pointer;border: 1px solid #999;/* IE */border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */border-bottom:rgba(0, 0, 0, .4) 1px solid;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);background: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,rgba(0, 0, 0, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */-moz-user-select: none;-webkit-user-select:none;-khtml-user-select: none;user-select: none;margin: 0px;position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
.onglets2 button.left{float:left;margin-left:0px; margin-right: 5px;}
.onglets2 button:hover {background: -moz-linear-gradient(center top,rgba(255, 255, 255, .2) 0%,rgba(255, 255, 255, .1) 100%);/* FF3.6 */background: -webkit-gradient(linear,center bottom,center top,from(rgba(255, 255, 255, .1)),to(rgba(255, 255, 255, .2)));/* Saf4+, Chrome */filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;text-align:center;white-space: nowrap;font-size:12px;background-color: #F90;}
.onglets2 button:active {top:1px;}

#gris{background-color: #BABABA;color: #000;}
#gris :hover{background-color: #BABABA;color: #000;}