/*
HTML 5 Template Name: Elementary
File: Tables CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.records_list{width:100%; border-collapse:collapse; table-layout:auto; vertical-align:top; margin-bottom:15px; border:1px solid #CCCCCC;}
.records_list thead th{color:#FFFFFF; background-color:#666666; border:1px solid #CCCCCC; border-collapse:collapse; text-align:center; table-layout:auto; vertical-align:middle;}
.records_list tbody td{vertical-align:middle; border-collapse:collapse; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.records_list thead th, table tbody td{padding:5px; border-collapse:collapse;}
.records_list tbody tr.light{color:#666666; background-color:#F7F7F7;}
.records_list tbody tr.dark{color:#666666; background-color:#E8E8E8;}

.records_list tr:hover{background: #F90;} 
.records_list tr {border:1px solid #CCCCCC;}

.records_list div{display: inline-block; width: 90px; margin-left: auto; margin-right: auto; vertical-align: middle; text-align:center;}

.records_list img{display: inline-block; float: left; width: 20px; height: 20px; margin-right: 5px; margin-left: 5px;}

/********** Length for "actions" column *************/
#long5{display: inline-block; width: 150px; margin-left: auto; margin-right: auto; vertical-align: middle;text-align:center;}
#long4{display: inline-block; width: 120px; margin-left: auto; margin-right: auto; vertical-align: middle;text-align:center;}
#long3{display: inline-block; width: 90px; margin-left: auto; margin-right: auto; vertical-align: middle;text-align:center;}
#long2{display: inline-block; width: 60px; margin-left: auto; margin-right: auto; vertical-align: middle;text-align:center;}
#long1{display: inline-block; width: 30px; margin-left: auto; margin-right: auto; vertical-align: middle;text-align:center;}

#centerDiv{text-align:center;width: 100%;}
#center{text-align:center;}

.records_list .small{width: 30px;}