{% extends '::base.html.twig' %}

{% block title %}Modifier une roadmap{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}class="active"{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('jquery/css/smoothness/jquery-ui-1.10.4.custom.min.css')}}">
    <script src="{{asset('jquery/js/jquery-1.10.2.js')}}"></script>
    <script src="{{asset('jquery/js/jquery-ui.js')}}"></script>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $("#api_suivibundle_roadmap_dateDebut").datepicker({dateFormat: 'dd MM yy'});
            $("#api_suivibundle_roadmap_dateFin").datepicker({dateFormat: 'dd MM yy'});
        });
    </script>
{% endblock %}

{% block body -%}
    <h1>Modifier une roadmap</h1>

    <div id="formulaire">
        {{ form(edit_form) }}
    </div>

    <button onclick="window.location = '{{ path('roadmap') }}';" class="left">◄ Revenir</button>

{% endblock %}
