{% extends '::base.html.twig' %}

{% block title %}Roadmaps{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}class="active"{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}

    {% if error is defined %}
        <script>window.alert(
                    'Impossible de supprimer la roadmap car\nil existe au moins un sprint ou une release\nrattaché(e) à cette roadmap'
                    );
        </script>
    {% endif %}

    <h1>Liste des roadmaps</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <button  onclick="window.location = '{{ path('roadmap_new') }}';">Ajouter une roadmap ►</button>
    {% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.dateDebut | date('d F Y') }}</td>
                    <td>{{ entity.dateFin | date('d F Y') }}</td>
                    <td id="center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div id="long3">
                                <a href="{{path('roadmap_show', {'id' : entity.id})}}">
                                    <img alt="show" src="{{asset('images/overview-64.png')}}"></img>
                                </a>
                                <a href="{{path('roadmap_edit', {'id' : entity.id})}}">
                                    <img alt="edit" src="{{asset('images/edit-64.png')}}"></img>
                                </a>
                                <a href="{{path('roadmap_delete', {'id' : entity.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer la roadmap allant du  {{entity.dateDebut}} au {{entity.dateFin}} ?');">
                                    <img alt="delete" src="{{asset('images/trash-64.png')}}"></img>
                                </a>
                            </div>    
                        {% else %}
                            <div id="long1">    
                                <a href="{{path('roadmap_show', {'id' : entity.id})}}">
                                    <img id="centerImg" alt="show" src="{{asset('images/overview-64.png')}}"></img>
                                </a> 
                            </div>     
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button  onclick="window.location = '{{ path('roadmap_new') }}';">Ajouter une roadmap ►</button>
    {% endif %}

{% endblock %}
