{% extends '::base.html.twig' %}

{% block title %}Sauvegardes{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}class="active"{% endblock %}
{% block activeSauvegardeLast %}class="activeLast"{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function getLink() {
        var selectBox = document.getElementById("selectBox");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var route = "{{ path('log_delete', { 'nb': "NOMBRE" }) }}";
        var regPlaceHolder = new RegExp('NOMBRE', 'gi');
        window.location = route.replace(regPlaceHolder, selectedValue);
    }
</script>
{% endblock %}

{% block body -%}
    <h1>Liste des dernières mises à jour</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <button onclick="window.location='{{ path('save') }}';">Mettre à jour ►</button>

        <br clear="all">

        <button id="big" onclick="confirm('Etes vous sûr de vouloir nettoyer la table des logs ?');getLink();">Nettoyer ►</button>

        <div class="align-left">
            <form class="align-left-form"><b>Nombre de logs a garder en mémoire :</b>
                <select id="selectBox">
                    <option value="1">1</option>
                    <option selected value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </form>
        </div>
    {% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Type de sauvegarde</th>
                <th>Date et heure</th>
                <th>Trace</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.typeSave | raw }}</td>
                    <td>{{ entity.date | date('d/m/Y - H:i') }}</td>
                    <td>{{ entity.trace | raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <button id="big" onclick="confirm('Etes vous sûr de vouloir nettoyer la table uniquement ?');getLink();">Nettoyer ►</button>
        
        <div class="align-left">
            <form class="align-left-form"><b>Nombre de logs a garder en mémoire :</b>
                <select id="selectBox">
                    <option value="1">1</option>
                    <option selected value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </form>
        </div>

        <br clear="all">

        <button onclick="window.location='{{ path('save') }}';">Mettre à jour ►</button>
    {% endif %}
{% endblock %}
