{% extends '::base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}{% endblock %}
{% block activeRelease %}class="active"{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block body -%}
    <h1>Tache list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clef</th>
                <th>Description</th>
                <th>Vaffectee</th>
                <th>Vresolue</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('tache_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.clef }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.vAffectee }}</td>
                    <td>{{ entity.vResolue }}</td>
                    <td>{{ entity.etat }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tache_show', { 'id': entity.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
