{% extends '::base.html.twig' %}

{% block title %}Historique de la tache{% endblock %}

{% block activeCompte %}class="last"{% endblock %}
{% block activeSauvegarde %}{% endblock %}
{% block activeSprint %}class="active"{% endblock %}
{% block activeRelease %}{% endblock %}
{% block activeProjet %}{% endblock %}
{% block activeRoadmap %}{% endblock %}
{% block activeAccueil %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        

        // Create the chart
        $('#containerGraph').highcharts('StockChart', {

            rangeSelector : {
                    selected : 1
            },

            xAxis:{
                ordinal :  true
            },

            yAxis: {
                    title: {
                        text: 'Temps (heures)'
                    },
                    min : 0,
                    plotLines : [{
                            value : {{tacheSauvegardee.tpsOriginal}},
                            color : 'green',
                            dashStyle : 'shortdash',
                            width : 2,
                            label : {
                                    text : 'Tps Original'
                            }
                    }]
            },

        legend: {
            enabled: true,
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
            {% set bool1 = true %}
            {% set bool2 = true %}
            {% set bool3 = true %}
                    series : [{
                            name : 'Tps Passé',
                            data : [
                            {% for entity in entities %}
                                {% if bool1 %}
                                    {% set bool1 = false %}
                                    [{{entity.date*1000}}, {{entity.tpsPasse}}]
                                {% else %}
                                    ,[{{entity.date*1000}}, {{entity.tpsPasse}}]
                                {% endif %}
                            {% endfor %}
                            ],
                            marker : {
                                    enabled : true,
                                    radius : 3
                            },
                            shadow : true,
                            tooltip : {
                                    valueDecimals : 2
                            }
                    },
                    {
                            name : 'Temps Estimée',
                            color : 'red',
                            data : [
                            {% for entity in entities %}
                                {% set tpsEstime = entity.tpsPasse + entity.tpsRestant %}
                                {% if bool2 %}
                                    {% set bool2 = false %}
                                    [{{entity.date*1000}}, {{tpsEstime}}]
                                {% else %}
                                    ,[{{entity.date*1000}}, {{tpsEstime}}]
                                {% endif %}
                            {% endfor %}
                            ],
                            marker : {
                                    enabled : true,
                                    radius : 3
                            },
                            shadow : true,
                            tooltip : {
                                    valueDecimals : 2
                            }
                    },
                    {
                            name : 'Temps Restant',
                            color : 'yellow',
                            data : [
                            {% for entity in entities %}
                                {% if bool3 %}
                                    {% set bool3 = false %}
                                    [{{entity.date*1000}}, {{entity.tpsRestant}}]
                                {% else %}
                                    ,[{{entity.date*1000}}, {{entity.tpsRestant}}]
                                {% endif %}
                            {% endfor %}
                            ],
                            marker : {
                                    enabled : true,
                                    radius : 3
                            },
                            shadow : true,
                            tooltip : {
                                    valueDecimals : 2
                            }
                    }
                    ]
            });
    });

    </script>
{% endblock %}
        
{% block body -%}

    <button onclick="window.location='{{ path('sprint_tache', { 'id': tacheSprint.sprint.id, 'dateC' : tacheSauvegardee.date, 'tri' : "no" }) }}';" class="left">◄ Revenir à la liste</button>

    <br clear="all">
    
    <h1>Sprint concernant la version {{tacheSprint.sprint.version}} du projet {{tacheSprint.sprint.projet.nom}}</h1>
    <p>Historique allant du {{tacheSprint.sprint.dateDebut}} au {{tacheSprint.sprint.dateFin}}</p>
    
    <script src="{{asset('js/highstock.js')}}"></script>
    <script src="{{asset('js/modules/exporting.js')}}"></script>
    
    <div id="containerGraph" style="height: 500px; min-width: 500px"></div>
    
    <button onclick="window.location='{{ path('sprint_tache', { 'id': tacheSprint.sprint.id, 'dateC' : tacheSauvegardee.date, 'tri' : "no" }) }}';" class="left">◄ Revenir à la liste</button>

{% endblock %}
